absl-py
annotated-types
anyio
asttokens
astunparse
backcall
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
clr-loader
cmake
cmaketools
colorama
confection
contourpy
customtkinter
cycler
cymem
darkdetect
decorator
deep-sort-realtime
Deprecated
distro
doqu
et-xmlfile
exceptiongroup
executing
filelock
filterpy
fire
flask
Flask
Flask-Cors
Flask_cors
flatbuffers
fonttools
fuzzywuzzy
gast
gdown
gitdb
GitPython
google
google-api-core
google-auth
google-auth-oauthlib
google-cloud-documentai
google-cloud-vision
google-pasta
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
h5py
html5lib
httpcore
httpx
huggingface-hub
icrawler
idna
imageio
imutils
ipython
IronPdf
itsdangerous
jedi
Jinja2
joblib
keras
Keras-Preprocessing
kiwisolver
langcodes
lap
lazy_loader
Levenshtein
libclang
llvmlite
loguru
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
mtcnn
murmurhash
networkx
nltk
numba
numpy
oauthlib
onnx
openai
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
packaging
panda
pandas
parso
pickleshare
Pillow
preshed
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycocotools
pycparser
pydantic
pydantic_core
pygame
Pygments
pyparsing
PySocks
python-dateutil
python-Levenshtein
python-version
pythonnet
pytz
PyWavelets
PyYAML
rapidfuzz
regex
requests
requests-oauthlib
retina-face
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
six
sklearn
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-text
termcolor
thinc
thop
threadpoolctl
tifffile
torch
torchaudio
torchvision
tqdm
traitlets
typer
typing_extensions
urllib3
wasabi
wcwidth
weasel
webencodings
Werkzeug
win32-setctime
wrapt
